/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1240px) {

  .header__logo {
    margin-left: 10px;
  }

  .header__content {
    margin-right: 10px;
  }

  .open,
  .close {
    display: block;
  }

  .close {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .switcher:checked ~ .header__menu__nav {
    right: 0;
  }

  .header__menu__nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0;
		transition: 0.87s;
		background: url('../img/background-1.png') center no-repeat;
		background-size: cover;
  }

  .header__menu__ul {
    flex-direction: column;
    align-items: center;
  }

  .header__menu__a {
    padding: 20px;
    width: 160px;
  }

  .header__menu__a:before {
    bottom: -1px;
  }
  
  .header__menu__a:hover:before {
    width: 100%;
    left: 0;
    background: #C4D737;
  }

  .third__main {
    flex-direction: row;
    justify-content: center;
  }

  .third__content__item {
    margin: 30px 30px;
    min-height: 430px;
  }

  .third__content {
    flex-direction: column;
  }

  
  .third__content__item::after {
    display: none;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1210px) {
  .first__right {
    transform: scale(0.8);
    right: 160px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1090px) {
  .first__right {
    transform: scale(0.6);
    bottom: 50px;
    right: 140px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 970px) {
  .first {
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 640px;
  }

  .first__left,
  .first__right {
    padding-left: 10px;
  }

  .first__right {
    transform: scale(1);
    width: 100%;
    bottom: 0px;
    right: 0px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 920px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header__content {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header__left {
    margin-bottom: 40px;
  }

  .header__socials, .header__menu {
    align-self: center;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 786px) {
  .third__main {
    flex-direction: column;
    align-items: center;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 720px) {
  .first__right {
    transform: scale(0.6);
    top: 40px;
    right: 30px;
  }

  .first {
    padding-bottom: 440px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 567px) {
  .main__title__modificated::after {
    top: -35px;
  }
  
  .main__title__modificated::before{
    top: -102px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 560px) {
  .first__right {
    transform: scale(0.6);
    right: 80px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 450px) {
  .header__content {
    margin-right: 0px;
  }

  .header__logo {
    margin-left: 0px;
  }

  .header__left {
    flex-direction: column;
    align-items: center;
  }

  .header__hr-vertical {
    display: none;
  }

  .header__logo {
    margin-bottom: 20px;
  }

  .header__socials {
    display: flex;
    flex-direction: column;
  }

  .first__right {
    transform: scale(0.4);
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 434px) {
  .main__title::before {
    top: -140px;
  }

  .second__content__item {
    margin: 0 31px 36px 31px;
    align-items: center;
  }

  .second__content__sub-title, 
  .second__content__text {
    text-align: center;
  }
  .second__br {
    display: none;
  } 

  .main__title__modificated::after {
    top: -35px;
  }
  
  .main__title__modificated::before{
    top: -102px;
  }

  .third {
    overflow: hidden;
  }
}

/* Small Devices */
@media only screen and (max-width : 320px) {
  .main__title__modificated::after {
    top: -35px;
  }
  
  .main__title__modificated::before{
    top: -134px;
  }
}

